/* table */
.tableContainer {
  background-color: black;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 2rem;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  background-color: black;
}

.tableHeader {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.tableRow {
  background-color: black;
  color: white;
  border-radius: 0.1rem;
  margin: 1rem;
}

.tableRow:hover {
  background-color: var(--mantine-color-customCharcoalGrey-1);
}

.leftRoundedCell {
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin: 1rem;
}

.rightRoundedCell {
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 1rem;
}
