/* table */
.tableContainer {
  background-color: black;
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin-top: 1rem;
}

.tableHeader {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.tableRow {
  background-color: black;
  color: white;
  border-radius: 0.1rem;
  margin: 1rem;
  font-size: 1rem;
}

.tableRow:hover {
  background-color: var(--mantine-color-customCharcoalGrey-1);
}

.leftRoundedCell {
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin: 1rem;
}

.rightRoundedCell {
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 1rem;
}

.pagination {
  background: transparent;
  color: white;
  border-top: none;
  margin-top: 2rem;
  button {
    background: transparent;
    color: white;
    border-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    &[data-active='true'] {
      color: white;
      border: transparent;
      background: var(--mantine-color-customDarkBlue-1);
    }
  }
  button:hover {
    background-color: var(--mantine-color-customAzureBlue-1);
  }
}
