.filterContainer {
  flex: 1;
  display: flex;
  max-width: 360px;
  flex-direction: column;
}

.listingContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  height: 100%;
}

.listingInnerContainer {
  min-height: 85%;
  width: 100%;
}

.paginationContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.filterHeading {
  color: white;
  font-size: 1.4rem;
}

.filterSubheading {
  color: var(--mantine-color-customAzureBlue-1);
  font-weight: 700;
  font-size: 1.2rem;
}

.checkbox {
  margin: 0.8em 0;
}

.listItemContainer {
  background-color: var(--mantine-color-customCharcoalGrey-1);
  border-radius: 1rem;
  padding: 1.5rem;
}

.listItemTitle {
  font-size: 1.2rem;
  margin: 0;
}

.listItemCompanyContainer {
  background-color: var(--mantine-color-customAzureBlue-1);
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  margin-top: 1rem;
}
.listItemCompanyName {
  margin: 0;
}
.listItemLocation {
  margin: 0.5rem 0;
}

.listItemDescription {
  font-size: 0.8rem;
}

.spaceContainer {
  flex: 1;
}

.headingContainer {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
