.container {
  height: 100vh;
}

.backgroundImage {
  height: 100vh;
  opacity: 0.5;
}

.textBox {
  position: absolute;
  z-index: 2;
}

.text {
  color: var(--mantine-color-customWhite-1);
  text-align: center;
}
