.container {
  background-color: var(--mantine-color-background-1);
  height: 100vh;
  color: var(--mantine-color-customWhite-1);
  overflow-y: auto;
}

.card {
  background-color: var(--mantine-color-background-1);
  position: relative;
}

.banner {
  cursor: pointer;
  border-bottom: 3px solid var(--mantine-color-customAzureBlue-1);
  position: relative;
  opacity: 0.5;
}

.avatar {
  padding: 8px;
  background-color: black;
  border-radius: 50%;
  border-top: 3px solid var(--mantine-color-customAzureBlue-1);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.avatar img {
  border-radius: 50%;
}

.text {
  font-style: italic;
  position: relative;
  color: var(--mantine-color-customWhite-1);
}

.name {
  position: absolute;
  font-size: xx-large;
  color: var(--mantine-color-customWhite-1);
}

.subgroup {
  position: absolute;
  font-style: italic;
  color: var(--mantine-color-customWhite-1);
}

.alumniSubgroupContainer {
  transition: transform 0.2s ease;
}

.alumniSubgroupContainer.shifted {
  transform: translateY(50px);
}

.sponsorIndustryContainer {
  transition: transform 0.2s ease;
}

.sponsorIndustryContainer.shifted {
  transform: translateY(50px);
}

.box {
  border-left: 2px solid var(--mantine-color-customAzureBlue-1);
}

.button_root {
  background-color: var(--mantine-color-customGrey-1);
  color: var(--mantine-color-customWhite-1);
}

@media (max-width: 400px) {
  .button_root {
    background-color: var(--mantine-color-customGrey-1);
    color: var(--mantine-color-customWhite-1);
    align-self: center;
  }
}

.button_root:hover {
  background-color: hsl(0, 0%, 25%);
  color: var(--mantine-color-customWhite-1);
}

.button_admin_root {
  background-color: hsl(0, 75%, 50%);
  color: var(--mantine-color-customWhite-1);
}

.button_admin_root:hover {
  background-color: hsl(0, 75%, 40%);
  color: var(--mantine-color-customWhite-1);
}

@media (min-width: 501px) {
  .name {
    padding-left: 170px;
    padding-top: 170px;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  .name {
    align-self: center;
    padding-top: 280px;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (min-width: 501px) {
  .text {
    margin-left: 170px;
    margin-top: -30px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media (max-width: 500px) {
  .text {
    padding-top: 40px;
    font-size: 1rem;
    opacity: 70%;
    align-self: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .avatar {
    padding-top: 0px;
    align-self: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .profileBtn {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

@media (min-width: 501px) {
  .profileBtn {
    justify-content: flex-end;
    margin-right: 20px;
  }
}