.container {
  background-color: var(--mantine-color-background-1);
  height: 100vh;
  color: var(--mantine-color-customWhite-1);
}

.card {
  background-color: var(--mantine-color-background-1);
  position: relative;
}

.banner {
  border-bottom: 3px solid var(--mantine-color-customAzureBlue-1);
  position: relative;
  opacity: 0.5;
  cursor: pointer;
}

.avatar {
  padding: 8px;
  background-color: black;
  border-radius: 50%;
  border-top: 3px solid var(--mantine-color-customAzureBlue-1);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.avatar img {
  border-radius: 50%;
}

.text {
  font-style: italic;
  position: relative;
  color: var(--mantine-color-customWhite-1);
}

.name {
  position: absolute;
  font-size: 40px;
  color: var(--mantine-color-customWhite-1);
}

.subgroup {
  position: absolute;
  font-style: italic;
  color: var(--mantine-color-customWhite-1);
}

.box {
  border-left: 2px solid var(--mantine-color-customAzureBlue-1);
}

@media (min-width: 501px) {
  .name {
    padding-left: 170px;
    padding-top: 140px;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  .name {
    align-self: center;
    padding-top: 280px;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (min-width: 501px) {
  .text {
    margin-left: 170px;
    margin-top: -30px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media (max-width: 500px) {
  .text {
    padding-top: 70px;
    font-size: 1rem;
    opacity: 70%;
    align-self: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .avatar {
    padding-top: 0px;
    align-self: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .profileBtn {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

@media (min-width: 501px) {
  .profileBtn {
    justify-content: flex-end;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .subgroup {
    padding-top: 330px;
    font-size: 1rem;
    opacity: 70%;
    align-self: center;
    justify-content: center;
  }
}
@media (min-width: 501px) {
  .subgroup {
    padding-left: 170px;
    padding-top: 180px;
    font-size: 1.25rem;
  }
}