.signupFormContainer, .loginFormContainer, .forgotPasswordFormContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signupFormContainer {
  width: 100vw;
}

.form {
  width: 70%;
  max-width: rem(700px);
}

.formLabel {
  color: var(--mantine-color-customPapayaOrange-1);
  
}

.horizontalInput {
  width: 45%;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-customAzureBlue-1);
}
