# Environment Variables for Database Connection

# Create a '.env' file under the api directory of the project and add the following variable:
# MONGODB_URI=mongodb+srv://fsae:cD5pAQGsceFvdle7@cluster0.rropzcv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# JWT_SECRET="9dI8a5D6CkP2Qb3jRx_VwJnGq_8OqbkO"

# TWILIO_ACCOUNT_SID = AC2b385d0e85fad375d02e458f1c957977
# TWILIO_AUTH_TOKEN = 926f7afc0db5ea14fb300d1a8c372b1f
# TWILIO_VERIFY_SERVICE_ID = VA4cbe896c2601540d22a8352f46358682

# Original config without using environment variables were:
# name: mongoDB
# connector: MongoDB
# url: mongodb+srv://fsae:cD5pAQGsceFvdle7@cluster0.rropzcv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# host: cluster0.rropzcv.mongodb.net
# port: 27017
# user: fsae
# password: ''
# database: ''
# useNewUrlParser: true